<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Some Website</title>
</head>
<body>
<h1>We'll be right back!</h1>
<hr>
  <p>The Site is Currently being Updated!<hr> Come Back Soon</p>


</body>
</html>
